<div class="container">
<br>
    <h1>Login</h1>
    <p>Welcome to Restaurator</p>


 <% if (flash.welcome) {%>
    <p><strong> <%= flash.welcome %> </strong></p>
<% } %>



</div>

</div>

<!-- <div class="ui fixed inverted menu" id='nav-bar'>

  <div id="header-left">

    <div class="header item">
      <a href="/users/home">
        <i class='inverted yellow large home icon'></i>
      </a>
    </div>
    <div class="header item">
      <p>Hi, @
        <%=session.username%>
      </p>
    </div>

  </div>

  <div id="header-right">
    <a href="/users/profile/<%= session._id %>" class="item">My Profile</a>
    <form action="/logout" method='POST' id="header-nav">
      <button class='ui button inverted red' id='logout' type="submit"> Logout </button>
    </form>

      <img src="<%= session.image %>" class="ui avatar image" id="avatarImage">
  </div>
</div> -->
