<!DOCTYPE html>
<html>

<head>
  <title>Restaurator</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Import materialize-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script type="text/javascript" src="/javascripts/application-home.js"></script>

  <!-- Google Maps -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCscTbTrX-GiGtgj9E2v6ZmKUoz5xv7b4w&libraries=places&callback=initMap" async defer></script>

  <div>
    <nav class="col s12">
      <div class="nav-wrapper orange darken-3">
        <a href="/" class="brand-logo">Restaurator</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if (typeof(session) == 'undefined') { %>
        <li><a href="/auth/profile/<%= session._id %>" class="item">My Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/signup">SignUp</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/restaurants/new">Restaurants</a></li>
      <% } %>
        </ul>
      </div>
    </nav>
  </div>

</head>

<body class="col s12">

  <%- body -%>

</body>


        <footer class="page-footer orange darken-3">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <h5 class="white-text">Restaurator</h5>
                <p class="grey-text text-lighten-4">Agregador de webs de restaurantes para reservar mesa o pedir a domicilio.</p>
              </div>

            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">About us</a>
            </div>
          </div>
        </footer>

</html>
