<section class="container">
  <div id="map"></div>
</section>  
    <% Home.forEach((restaurant) => { %>
        <p><%= restaurant.category %> <%= restaurant.name %> <%= restaurant.imageUrl %></p>
        <p></p>

    <% }) %>

<p>
    <%- include auth/login.ejs %>
</p>
