  <div id="map"></div>

    <% restaurants.forEach((restaurant) => { %>
        <p><%= restaurant.category %> <%= restaurant.name %> <%= restaurant.imageUrl %></p>
        <p></p>


    <% }) %>

<p>
    <%- include auth/login.ejs %>
</p>
