<div class="container">
<% if (typeof(err) !== "undefined") { %>
  <div class="alert alert-danger" role="alert"><%= err %></div>
<% } %>


<form action="new" method="POST">
  <div class="form-group">
    <label for="name">Restaurant Name</label>
    <input type="text" class="form-control" id="name" placeholder="Restaurant Name" name="name">
    <% if (error.name) { %>
      <p style="color: red"> <%= error.name %></p>
    <% } %>
  </div>

  <div class="form-group">
    <label for="email">Restaurant Email</label>
    <input type="text" class="form-control" id="email" placeholder="Restaurant Email" name="email">
    <% if (error.email) { %>
      <p style="color: red"> <%= error.email %></p>
    <% } %>
  </div>

  <div class="form-group">
    <label for="password">Restaurant Password</label>
    <input type="password" class="form-control" id="password" placeholder="Restaurant Password" name="password">
    <% if (error.password) { %>
      <p style="color: red"> <%= error.password %></p>
    <% } %>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" placeholder="Description" name="description">
  </div>


  <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>
